@page
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>
                        <input type="number" min="1" id="quantity_@item.ProductId" name="quantities[@item.ProductId]" value="@item.Quantity">
                    </td>
                    <td>@(string.Format("{0:C}", item.Product.Price * item.Quantity))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Total Price:</strong></td>
                <td>@Model.TotalPrice.ToString("C")</td>
            </tr>
        </tfoot>
    </table>

    <button class="btn btn-primary" type="submit">Update Cart</button>

    <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
</form>

